*{
    margin: 0;
    padding: 0;
    .form__button{
        width: 100px;
        text-align: center;
        background-color: #ef5b4c;
        border-radius: 5px;
        border: 0;
        height: 40px;
        text-transform: none;
        color: #ffffff;
        font-size: 16px;
        line-height: 20px;
        outline: none;
        cursor: pointer;
        .button__span{
            font-size: 16px;
        }
    }
    .form__button:hover {
        background-color: #ef1b1c;
    }
}
