body{
    margin: auto;
    padding: 0;
    .header{
        position: fixed;
        width: 100%;
        max-width: 2560px;
        height: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(40px, auto);
        background-color: #fff;
        .header__logo{
            padding-left: 30px;
            padding-top: 15px;
            img{
                vertical-align: middle;
            }
            span{
                padding-left: 10px;
                vertical-align: middle;
                letter-spacing: 3px;
                font-size: 24px;
                line-height: 29px;
            }
        }
        .header__tabs-panel{
            margin-right: 0;
            width: 470px;
            margin-left: auto;
            button{
                width: auto;
                height: 100%;
                margin-left: 10px;
                padding: 0;
                margin-right: 10px;
                border: none;
                background-color: #fff;
                outline: none;
                cursor: pointer;
                font-size: 16px;
            }
            button:hover {
                color: #ef5b4c; 
            }
            button:active {
                color: #007bff;
              }
        }
    }
}