$primary-button-color: #ef5b4c;

%head-text {
    font-size: 50px;
    line-height: 54px;
}

font-face {
    font-family: 'Open Sans';
    src: url('../static/OpenSans-Regular.ttf'),
}

body{
    margin: auto;
    padding: 0;
    max-width: 2560px;

    .main{
        font-family: 'Open Sans';
        padding-top: 60px;
        margin: auto;

        button{
            margin-top: 13px;
            width: 210px;
            text-align: center;
            background-color: $primary-button-color;
            border-radius: 5px;
            border: 0;
            height: 38px;
            text-transform: none;
            color: #ffffff;
            outline: none;
            cursor: pointer;

            .button__span{
                font-size: 16px;
                line-height: 24px;
            }

            span{
                font-family: 'Open Sans';
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.2px;
            }
        }

        button:hover {
            background-color: #ff0404;
        }

        .main__head_text{
            padding-top: 100px;
            text-align: center;
            @extend %head-text;
        }

        .main__header{
            height: 600px;
            background-image: url('../static/banner-photo.jpg');
            background-size: cover;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            color: #ffffff;
            padding-left: 30px;

            .main__header_text1{
                width: 520px;
                padding-top: 107px;
                letter-spacing: -0.65px;
                @extend %head-text;

                span{
                    letter-spacing: -0.4px;
                }
            }

            .main__header_text2{
                width: 530px;
                font-weight: 400;
                line-height: 24px;
                padding-top: 25px;
            }

            .main__header_text2-alt{
                display: none;
            }
        }

        .main__body{
            max-width: 1170px;
            padding-top: 52px;
            margin: auto;

            .main__head_text{
                letter-spacing: -0.6px;
                text-align: center;
                @extend %head-text;
            }

            .main__body_container{
                margin-top: 50px;
                margin-bottom: 145px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, auto));
                grid-auto-columns: minmax(100px, auto);

                .main__body_container_img{
                    img{
                        padding: 21px 10px 0 54px;
                        width: 340px;
                    }
                }

                .main__body_container_content{
                    display: grid;
                    grid-template-rows: repeat(4, auto);
                    grid-auto-rows: minmax(50px, 100%);
                    margin-left: 15px;
                    margin-right: 15px;
                    padding-left: 25px;
                    text-align: justify;

                    .main__body_container_content_text1{
                        font-size: 24px;
                        line-height: 29px;
                        padding-top: 17px;
                        padding-bottom: 19px;
                    }

                    .main__body_container_content_text2{
                        padding-right: 14.8px;
                        padding-top: 1px;
                        line-height: 24px;
                    }

                    .main__body_container_content_text3{
                        padding-right: 14.8px;
                        padding-top: 24px;
                        line-height: 24px;
                    }
 
                    button{
                        font-family: 'Open Sans';
                        margin-top: 21px;
                        margin-left: 2px;
                        width: auto;
                        text-align: center;
                        background-color: #ffffff;
                        border: 0;
                        height: 40px;
                        color: $primary-button-color;
                        font-size: 16px;
                        font-weight: bold;
                        outline: none;
                        cursor: pointer;
                    }

                    button:hover {
                        color: #ff0404;
                    }
                }
            }

            .main__body_users{
                background-color: #f9f9f3;
                padding-bottom: 100px;

                .main__body_users_text1{
                    padding-top: 153px;
                    margin-right: 1px;
                    text-align: center;
                    @extend %head-text;
                }

                .main__body_users_text2{
                    padding-top: 17px;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }

                .main__body_users_users{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    grid-auto-columns: minmax(100px, auto);
                    margin: 38px 15px 0 15px;

                    .main__body_users_card{
                        text-align: center;
                        margin: 25px auto;
                        width: 200px;
                        text-align: center;

                        .MuiAvatar-root{
                            padding: 0;
                            margin: auto;
                        }

                        .main__body_users_card_name{
                            padding: 0;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            font-size: 24px;
                            line-height: 32px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        div{
                            overflow: hidden;
                            margin-top: 12px;
                            cursor: pointer;
                            text-overflow: ellipsis;
                        }
                    }
                }

                .main__body_users_button{
                    text-align: center;
                }

                .main__body_users_button_disabled{
                    text-align: center;

                    button{
                        background-color: #bbbbbb;
                        color: #727272;
                    }
                }
            }
        }

        .main__footer{
            padding-top: 161px;
            padding-bottom: 10px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }

        @media(max-width: 1023px){
            .main__header{
                display: grid;
                grid-template-rows: 200px 200px 100px;
                margin-bottom: -100px;

                .main__header_text1{
                    width: 410px;
                    padding-top: 59px;
                    font-size: 40px;
                    letter-spacing: -0.65px;
                    line-height: 44px;
                }

                .main__header_text2{
                    width: 450px;
                    padding-top: 19px;
                }

                .main__header_text2-alt{
                    display: none;
                }

                button{
                    margin-top: -3px;
                }
            }

            .main__body{
                margin-top: -100px;
                position: relative;
                background-color: #fff;

                .main__head_text{
                    padding-top: 60px;
                    text-align: center;
                    font-size: 40px;
                    line-height: 44px;
                }

                .main__body_container{
                    margin-top: 50px;
                    margin-bottom: 107px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
                    grid-auto-columns: minmax(100px, auto);

                    .main__body_container_img{
                        img{
                            padding: 22px 10px 0 30px;
                            width: 247px;
                        }
                    }

                    .main__body_container_content{
                        margin-left: 5px;
                        margin-right: 16px;
                        padding-left: 15px;

                        .main__body_container_content_text2{
                            padding-right: 15px;
                        }

                        .main__body_container_content_text3{
                            padding-right: 9px;
                        }
                    }
                }

                .main__body_users{
                    padding-bottom: 118px;

                    .main__body_users_text1{
                        padding-top: 113px;
                        margin-right: 1px;
                        text-align: center;
                        font-size: 40px;
                        line-height: 44px;
                    }

                    .main__body_users_text2{
                        padding-top: 17px;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }

                    .main__body_users_users{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
                        grid-auto-columns: minmax(100px, auto);
                        margin: 38px 15px 0 15px;
                    }
                }

                .main__footer{
                    padding-top: 114px;
                    padding-left: 9px;
                }
            }
        }
    }

    @media(max-width: 767px){
        .main{
            padding-top: 40px;

            .main__header{
                height: 500px;
                background-image: url('../static/banner-photo.jpg');
                background-position: 52% 0%;
                background-size: 190% 80%;
                background-repeat: no-repeat;
                display: grid;
                grid-template-rows: 170px 90px 100px;
                grid-template-columns: minmax(300px, auto);
                grid-auto-rows: minmax(100px, auto);
                color: #ffffff;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;

                .main__header_text1{
                    width: 93%;
                    margin: 0 auto 0 auto;
                    padding-top: 70px;
                    font-size: 30px;
                    letter-spacing: -0.65px;
                    line-height: 34px;

                    span{
                        letter-spacing: -0.4px;
                    }
                }

                .main__header_text2{
                    display: none;
                }

                .main__header_text2-alt{
                    display: inherit;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    padding-top: 20px;
                }

                button{
                    margin-top: 27px;
                }
            }

            .main__body{
                .main__head_text{
                    padding-top: 22px;
                    text-align: center;
                    font-size: 30px;
                    line-height: 34px;
                    letter-spacing: -0.3px;
                }

                .main__body_container{
                    margin: 10px 12px 66px 12px;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto-fit, minmax(150px, auto));

                    .main__body_container_img{
                        text-align: center;

                        img{
                            padding: 24px 10px 0 10px;
                            width: 290px;
                        }
                    }

                    .main__body_container_content{
                        margin: auto;
                        padding-left: 0px;
                        text-align: center;

                        .main__body_container_content_text1{
                            padding-top: 29px;
                            text-align: center;
                        }

                        .main__body_container_content_text2{
                            padding-right: 0.7px;
                            padding-left: 0.7px;
                            text-align: justify;
                        }

                        .main__body_container_content_text3{
                            padding-right: 0.7px;
                            padding-left: 0.7px;
                            text-align: justify;
                        }

                        button{
                            margin-top: 21px;
                        }
                    }
                }

                .main__body_users{
                    padding-bottom: 80px;

                    .main__body_users_text1{
                        padding-top: 75px;
                        margin-right: 1px;
                        text-align: center;
                        font-size: 30px;
                        line-height: 34px;
                    }

                    .main__body_users_text2{
                        padding-top: 9px;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }

                    .main__body_users_users{
                        margin: 0px 15px 0 15px;

                        .main__body_users_card{
                            .main__body_users_card_name{
                                padding: 0;
                                margin-top: 12px;
                                margin-bottom: 10px;
                            }

                            div{
                                margin-top: 10px;
                            }
                        }
                    }

                    .main__body_users_button{
                        margin-top: 8px;
                    }
                }

                .main__footer{
                    padding-top: 94px;
                    padding-bottom: 10px;
                    padding-left: 0px;
                    text-align: center;
                }
            }
        }
    } 
}
