body{
    margin: auto;
    padding: 0;
    max-width: 2560px;
    .main{
        padding-top: 70px;
        margin: auto;
        button{
            margin-top: 30px;
            width: 250px;
            text-align: center;
            background-color: #ef5b4c;
            border-radius: 5px;
            border: 0;
            height: 40px;
            text-transform: none;
            color: #ffffff;
            font-size: 16px;
            outline: none;
            cursor: pointer;
            .button__span{
                font-size: 16px;
            }
        }
        button:hover {
            background-color: #ff0404;
        }
        .main__head_text{
            padding-top: 100px;
            text-align: center;
            font-size: 50px;
            line-height: 54px;
        }
        .main__header{
            height: 600px;
            background-image: url('../static/banner-photo.jpg');
            background-size: cover;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            color: #ffffff;
            padding-left: 30px;
            .main__header_text1{
                padding-top: 100px;
                font-size: 50px;
                line-height: 54px;
            }
            .main__header_text2{
                width: 75%;
                font-size: 16px;
                line-height: 24px;
                padding-top: 30px;
            }
        }
        .main__body{
            max-width: 1170px;
            padding-top: 100px;
            margin: auto;
            .main__body_head{
                text-align: center;
                font-size: 50px;
                line-height: 54px;
            }
            .main__body_container{
                margin-top: 50px;
                margin-bottom: 100px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-auto-columns: minmax(100px, auto);
                .main__body_container_img{
                    padding-left: 40px;
                    img{
                        width: 100%;
                    }
                }
                .main__body_container_content{
                    display: grid;
                    grid-template-rows: repeat(4, 1fr);
                    grid-auto-rows: minmax(100px, auto);
                    font-size: 16px;
                    margin-left: 15px;
                    margin-right: 15px;
                    line-height: 24px;
                    .main__body_container_content_text1{
                        font-size: 30px;
                        line-height: 34px;
                        padding-top: 25px;
                    }
                    button{
                        margin-top: 20px;
                        width: auto;
                        text-align: center;
                        background-color: #ffffff;
                        border: 0;
                        height: 40px;
                        color: #ef5b4c;
                        font-size: 16px;
                        outline: none;
                        cursor: pointer;
                    }
                    button:hover {
                        color: #ff0404;
                    }
                }
            }
            .main__body_users{
                background-color: #f9f9f3;
                padding-bottom: 100px;
                .main__body_users_text2{
                    padding-top: 20px;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
                .main__body_users_users{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    grid-auto-columns: minmax(100px, auto);
                    margin-top: 20px;
                    .main__body_users_card{
                        text-align: center;
                        margin: auto;
                        padding-top: 50px;
                        width: 200px;
                        .MuiAvatar-root{
                            margin: auto;
                        }
                        .main__body_users_card_name{
                            margin-top: 20px;
                            margin-bottom: 20px;
                            font-size: 24px;
                            line-height: 28px;
                        }
                        nav{
                            padding-top: 12px;
                            cursor: pointer;
                        }
                    }
                }
                .main__body_users_button{
                    text-align: center;
                }
            }
            .main__registration{
                .main__registration_text{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
                form{
                    width: 400px;
                    margin: auto;
                    .main__registration_position_error{
                        $radioSize: 16px;
                        $radioBorder: #D1D7E3;
                        $radioActive: #5D9BFB;

                        .main__registration_position_radio {
                            height: 24px;
                            span{
                                font-size: 16px;
                                line-height: 24px;
                            }
                            display: block;
                            cursor: pointer;
                            input {
                                display: none;
                                & + span {
                                    line-height: $radioSize;
                                    height: $radioSize;
                                    padding-left: $radioSize;
                                    display: block;
                                    position: relative;
                                    &:not(:empty) {
                                        padding-left: $radioSize + 8;
                                    }
                                    &:before,
                                    &:after {
                                        content: '';
                                        width: $radioSize;
                                        height: $radioSize;
                                        display: block;
                                        border-radius: 50%;
                                        left: 0;
                                        top: 0;
                                        position: absolute;
                                    }
                                    &:before {
                                        background: $radioBorder;
                                        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
                                    }
                                    &:after {
                                        background: #fff;
                                        transform: scale(.78);
                                        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
                                    }
                                }
                                &:checked + span {
                                    &:before {
                                        transform: scale(1.04);
                                        background: $radioActive;
                                    }
                                    &:after {
                                        transform: scale(.4);
                                        transition: transform .3s ease;
                                    }
                                }
                            }
                            &:hover {
                                input {
                                    & + span {
                                        &:before {
                                            transform: scale(.92);
                                        }
                                        &:after {
                                            transform: scale(.74);
                                        }
                                    }
                                    &:checked + span {
                                        &:after {
                                            transform: scale(.4);
                                        }
                                    }
                                }
                            }
                        }
                        p{
                            color: #ff0404;
                        }
                    }
                    .main__registration_position{
                        $radioSize: 16px;
                        $radioBorder: #D1D7E3;
                        $radioActive: #5D9BFB;

                        .main__registration_position_radio {
                            height: 24px;
                            span{
                                font-size: 16px;
                                line-height: 24px;
                            }
                            display: block;
                            cursor: pointer;
                            input {
                                display: none;
                                & + span {
                                    line-height: $radioSize;
                                    height: $radioSize;
                                    padding-left: $radioSize;
                                    display: block;
                                    position: relative;
                                    &:not(:empty) {
                                        padding-left: $radioSize + 8;
                                    }
                                    &:before,
                                    &:after {
                                        content: '';
                                        width: $radioSize;
                                        height: $radioSize;
                                        display: block;
                                        border-radius: 50%;
                                        left: 0;
                                        top: 0;
                                        position: absolute;
                                    }
                                    &:before {
                                        background: $radioBorder;
                                        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
                                    }
                                    &:after {
                                        background: #fff;
                                        transform: scale(.78);
                                        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
                                    }
                                }
                                &:checked + span {
                                    &:before {
                                        transform: scale(1.04);
                                        background: $radioActive;
                                    }
                                    &:after {
                                        transform: scale(.4);
                                        transition: transform .3s ease;
                                    }
                                }
                            }
                            &:hover {
                                input {
                                    & + span {
                                        &:before {
                                            transform: scale(.92);
                                        }
                                        &:after {
                                            transform: scale(.74);
                                        }
                                    }
                                    &:checked + span {
                                        &:after {
                                            transform: scale(.4);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .main__registration_form{
                        width: 100%;
                        height: 34px;
                        margin-top: 7px;
                        margin-bottom: 0px;
                        padding-left: 15px;
                        background-color: #FFFFFF;
                        border: 1px solid #bab9ba;
                        border-radius: 5px;
                        cursor: pointer;
                        overflow: hidden;
                        position: relative;
                        text-align: left;
                        vertical-align: middle;
                        .main__registration_form_text{
                            font-size: 18px;
                            color: #818080;
                        }
                    }

                    .main__registration_form-error{
                        width: 100%;
                        height: 34px;
                        margin-top: 7px;
                        margin-bottom: 0px;
                        padding-left: 15px;
                        background-color: #FFFFFF;
                        border: 1px solid #ff0404;
                        border-radius: 5px;
                        cursor: pointer;
                        overflow: hidden;
                        position: relative;
                        text-align: left;
                        vertical-align: middle;
                        vertical-align: middle;
                        .main__registration_form_text{
                            font-size: 18px;
                            color: #818080;
                        }
                    }

                    section{
                        font-size: 12px;
                        color: #ff0404;
                    }

                    .main__registration_form-error:focus{
                        outline: 2px solid rgba($color: #ff3c3c, $alpha: 0.4);
                        border-color: #ff0404;         
                    }

                    .main__registration_form-error .main__registration_button{
                        margin: 0;
                        background-color: #e5e0e0;
                        float: right;
                        font-size: 16px;
                        height: 100%;
                        line-height: 20px;
                        overflow: hidden;
                        padding: 4px 10px;
                        text-align: center;
                        vertical-align: middle;
                        width: 50px;
                        border-left: solid #ff0404 1px;
                    }

                    .main__registration_form-error #upload{
                        margin: 0;
                        position:absolute; 
                        top:0; 
                        left:0; 
                        width:90%; 
                        -moz-opacity: 0; 
                        filter: alpha(opacity=0); 
                        opacity: 0; 
                        font-size: 150px; 
                        height: 30px; 
                        z-index:20;
                    }

                    .main__registration_form .main__registration_button{
                        margin: 0;
                        background-color: rgb(235, 237, 238);
                        float: right;
                        font-size: 16px;
                        height: 100%;
                        line-height: 20px;
                        overflow: hidden;
                        padding: 4px 10px;
                        text-align: center;
                        vertical-align: middle;
                        width: 50px;
                    }

                    .main__registration_form #upload{
                        margin: 0;
                        position:absolute; 
                        top:0; 
                        left:0; 
                        width:90%; 
                        -moz-opacity: 0; 
                        filter: alpha(opacity=0); 
                        opacity: 0; 
                        font-size: 150px; 
                        height: 30px; 
                        z-index:20;
                    }
                    .main__registration_form:active{
                        outline-color: #5adfe7;
                        border-color: #2eb1ef;
                        .main__registration_button{
                            border-left: solid #2eb1ef 1px;
                        }
                    }

                    .main__registration_form #fileformlabel { 
                        background-color: #FFFFFF;
                        float: left;
                        height: 22px;
                        line-height: 22px;
                        overflow: hidden;
                        padding: 2px;
                        text-align: left;
                        vertical-align: middle;
                        width:160px;
                    }
                    div{
                        margin-bottom: 14px;
                        input{
                            margin-top: 7px;
                            width: 100%;
                            height: 30px;
                            padding-left: 10px;
                            font-size: 16px;
                            border: solid 1px #bab9ba;
                            border-radius: 5px;
    
                        }
                        input:focus{
                            outline-color: #5adfe7;
                            border-color: #2eb1ef;
                        }
                        span{
                            font-size: 12px;
                        }
                    }

                    .main__registration_input{
                        input{
                            margin-top: 7px;
                            width: 100%;
                            height: 30px;
                            padding-left: 10px;
                            font-size: 16px;
                            border: solid 1px #ff0404;
                            border-radius: 5px;
                        }
                        input:focus{
                            outline: 2px solid rgba($color: #ff3c3c, $alpha: 0.4);
                            border-color: #ff0404;
                        }
                        span{
                            font-size: 12px;
                            color: #ff0404;
                            height: 32px;
                        }
                    }
                    .button__span{
                        font-size: 16px;
                    }
                }
            }
        }
        .main__footer{
            padding-top: 150px;
            padding-bottom: 10px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
    
}