*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    .tabs{
        height: 70px;
        width: 500px;
        border-left-color: #ffffff;
        margin-right: 0;
        margin-left: auto;
        .MuiTabs-flexContainer{
            height: 100%;
            width: auto;
            .MuiButtonBase-root{
                cursor: pointer;
            }
            @media (min-width:768px) {
                .MuiTab-root {
                  min-width: auto;
                }
            }
        }
        .MuiTabs-indicator{
            display: none;
        }
    }
}